<div class="p-4 overflow-hidden">
  <div class="custom-height flex align-items-center">
    <div class="text-lg ">
      {{ 'MENU_BACKLOG' | translate }}
    </div>
  </div>
  <p-divider></p-divider>
  <div class="grid mt-2">
    <div class="col-6">
      <div class="p-3 content-container surface-overlay border-1 surface-border border-round">
        <div class="flex flex-column align-items-center justify-content-center">
          <div class="w-full flex justify-content-between align-items-center">
            <div class="text-xl text-500 text-primary-500">
              {{ "TITLE_SPRINT" | translate }}
            </div>
            <backlog-sprint-create> </backlog-sprint-create>
          </div>
          <p-divider class="w-full -mt-2"></p-divider>
          <div class="w-full overflow-scroll" style="height: 500px;">
            <p-panel [toggleable]="true" [collapsed]="true">
              <ng-template pTemplate="header">
                <div class="w-full flex align-items-center justify-content-between ">
                  <div class="flex flex-column">
                    <div class="font-bold">
                      Sprint 1
                    </div>
                    <div class="text-xs text-500">
                      {{ startDate | date: 'dd MMM yyyy' }} - {{ endDate | date: 'dd MMM yyyy' }}
                    </div>
                  </div>
                  <div class="flex">
                    <button pButton label="Fininsh Sprint" class="p-button-text p-button-sm p-button-danger w-8rem">
                    </button>
                  </div>
                </div>
              </ng-template>
              @for (item of listTask; track $index) {
              <div class="border-1 surface-border border-round-2xl px-3 py-2 mt-2">
                <div class="flex align-items-center justify-content-between">
                  <div class="flex">
                    <i class="pi pi-lightbulb text-white bg-orange-500 p-1 border-circle mr-2"></i>
                    <div class="font-semibold"> {{ item.name}} </div>
                  </div>
                  <div class="flex align-items-center gap-3">
                    <ng-container *ngIf="item.status === 'To Do'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-blue-500 text-blue-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item.status === 'In Progress'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-orange-500 text-orange-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item.status === 'Done'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-green-500 text-green-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>

                    <p-avatar class="mt-1" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                      shape="circle" />
                  </div>
                </div>
              </div>
              }
            </p-panel>
            <p-panel [toggleable]="true" [collapsed]="true" styleClass="mt-2">
              <ng-template pTemplate="header">
                <div class="w-full flex align-items-center justify-content-between ">
                  <div class="flex flex-column">
                    <div class="font-bold">
                      Sprint 2
                    </div>
                    <div class="text-xs text-500">
                      {{ startDate | date: 'dd MMM yyyy' }} - {{ endDate | date: 'dd MMM yyyy' }}
                    </div>
                  </div>
                  <div class="flex">
                    <button pButton label="Start Sprint" class="p-button-text p-button-sm p-button-info w-8rem">
                    </button>
                  </div>
                </div>
              </ng-template>
              @for (item of listTask; track $index) {
              <div class="border-1 surface-border border-round-2xl px-3 py-2 mt-2">
                <div class="flex align-items-center justify-content-between">
                  <div class="flex">
                    <i class="pi pi-lightbulb text-white bg-orange-500 p-1 border-circle mr-2"></i>
                    <div class="font-semibold"> {{ item.name}} </div>
                  </div>
                  <div class="flex align-items-center gap-3">
                    <ng-container *ngIf="item.status === 'To Do'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-blue-500 text-blue-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item.status === 'In Progress'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-orange-500 text-orange-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="item.status === 'Done'">
                      <span
                        class="flex align-items-center justify-content-center border-round border-green-500 text-green-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                        {{ item.status }}
                      </span>
                    </ng-container>

                    <p-avatar class="mt-1" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                      shape="circle" />
                  </div>
                </div>
              </div>
              }
            </p-panel>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="p-3 content-container surface-overlay border-1 surface-border border-round">
        <div class="flex flex-column align-items-center justify-content-center">
          <div class="w-full flex justify-content-between align-items-center">
            <div class="text-xl text-500 text-orange-400">
              {{ "TITLE_ISSUE" | translate }}
            </div>
            <backlog-issue-create> </backlog-issue-create>
          </div>
          <p-divider class="w-full -mt-2"></p-divider>
          <div class="w-full overflow-scroll" style="height: 500px;">
            @for (item of listTaskTodo; track $index) {
            <div class="border-1 surface-border border-round-2xl px-3 py-2 mt-2">
              <div class="flex align-items-center justify-content-between">
                <div class="flex">
                  <i class="pi pi-lightbulb text-white bg-orange-500 p-1 border-circle mr-2"></i>
                  <div class="font-semibold"> {{ item.name}} </div>
                </div>
                <div class="flex align-items-center gap-3">
                  <ng-container *ngIf="item.status === 'To Do'">
                    <span
                      class="flex align-items-center justify-content-center border-round border-blue-500 text-blue-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                      {{ item.status }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="item.status === 'In Progress'">
                    <span
                      class="flex align-items-center justify-content-center border-round border-orange-500 text-orange-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                      {{ item.status }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="item.status === 'Done'">
                    <span
                      class="flex align-items-center justify-content-center border-round border-green-500 text-green-500 border-1 h-2rem w-7rem px-3 py-0 text-sm">
                      {{ item.status }}
                    </span>
                  </ng-container>

                  <p-avatar class="mt-1" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                    shape="circle" />
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>