<div class="text-center -mt-4">
  <div class="text-900 font-medium text-2xl mb-1"> Choose resource type </div>
  <div class="text-700 line-height-3 mb-4"> Select the type of resource you want to add to your project. </div>

  <div class="grid">
    @for (item of listType; track $index) {
    <div class="col-12 lg:col-4">
      <div class="shadow-1 border-round border-2 cursor-pointer surface-card p-4"
        [ngClass]="{'border-transparent': selectedType !== item.value, 'border-blue-300': selectedType === item.value, 'shadow-3': selectedType === item.value}"
        (click)="selectedType = item.value">
        <img [src]="item.imageSrc" height="125" width="125" />
        <div class="p-3 flex flex-column align-items-center gap-3">
          <div class="text-900 text-xl font-medium"> {{ item.title }} </div>
          <p class="m-0"> {{ item.description }} </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<div class="pt-5 flex">
  <button pButton pRipple  
    label="Cancel" 
    class="p-button-text p-button-danger flex-grow-1"
    (click)="onCancelCreate()">
  </button>
  <button pButton pRipple 
    icon="pi pi-arrow-right"
    iconPos="right"
    label="Next" 
    class="p-button-sm ml-3 flex-grow-1" 
    [disabled]="!selectedType"
    (click)="onSelectedType()">
  </button>
</div>