@if (!listResource.length) {
<phantom-empty [description]="'PAGE_RESOURCE_EMPTY'">
</phantom-empty>
}
@else {
  @for (item of listResource; track $index) {
  <p-panel 
    [toggleable]="true" 
    [collapsed]="true" 
    [expandIcon]="'pi pi-angle-up'"
    [collapseIcon]="'pi pi-angle-down'"
    styleClass="mb-4">
    <ng-template pTemplate="header">
      {{ item.topic || 'N/A' }}
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <span class="text-400 text-sm">
          Add by {{ item.resource_owner || 'N/A' }}
        </span>
        <span class="text-400 text-sm">
          {{ item.create_date || 'N/A' | date:'hh:mm:aa dd/MM/yyyy' }}
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="icons">
      <button 
        class="p-panel-header-icon p-link mr-2" 
        (click)="menu.toggle($event); selectedResource=item">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="listMenu" [popup]="true" />
    </ng-template>

    @if (!checkPath(item.content)) {
    <p class="m-0" [innerHTML]="item.content"></p>
    }

    @if (checkPath(item.content)) {
    <section class="flex justify-content-center">
      <iframe width="560" height="315" [src]="getEmbedLink(item.content)" frameborder="0" allowfullscreen></iframe>
    </section>
    }
  </p-panel>
  }
}