@if (!listResource.length) {
<phantom-empty [description]="'PAGE_RESOURCE_EMPTY'">
</phantom-empty>
}
@else {
  @for (item of listResource; track $index) {
  <p-panel 
    [toggleable]="true" 
    [collapsed]="true" 
    [expandIcon]="'pi pi-angle-up'"
    [collapseIcon]="'pi pi-angle-down'"
    styleClass="mb-4">
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between w-full">
        <div class="font-bold">
          {{ item.topic || 'N/A' }}
        </div>
        <div style="width: 28px; height: 28px;" 
          class="flex align-items-center justify-content-center cursor-pointer" 
          (click)="onEditResource(item, $index)">
          <p-avatar 
            styleClass="mr-2 hover:bg-gray-100" 
            [style]="{ 'background-color': '#f9fafb', color: '##6b7280' }" 
            shape="circle" >
            <i class="pi pi-pencil"></i>
          </p-avatar>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <span class="text-400 text-sm">
          Add by {{ item.resource_owner || 'N/A' }}
        </span>
        <span class="text-400 text-sm">
          {{ item.create_date || 'N/A' | date:'hh:mm:aa dd/MM/yyyy' }}
        </span>
      </div>
    </ng-template>

    @if (!checkPath(item.content)) {
    <p class="m-0" [innerHTML]="item.content"></p>
    }

    @if (checkPath(item.content)) {
    <section class="flex justify-content-center">
      <iframe width="560" height="315" [src]="getEmbedLink(item.content)" frameborder="0" allowfullscreen></iframe>
    </section>
    }
  </p-panel>
  }
}