<div class="flex flex-column border-1 surface-border border-round p-3">
  <div class="flex justify-content-between">
    <div class="font-bold mt-2">
      {{ 'DASHBOARD_PROJECT_TASK' | translate }}
    </div>
    <div [formGroup]="formGroup">
      <p-selectButton [options]="stateOptions" class="h-1rem" formControlName="value" optionLabel="label"
        optionValue="value" />
    </div>
  </div>
  <p-divider></p-divider>

  <p-scroller [items]="listTask" [itemSize]="100" styleClass="phantom-scrollbar" scrollHeight="250px">
    <ng-template pTemplate="item" let-item let-options="options">
      <ul class="list-none p-0 m-0 cursor-pointer">
        <li class="flex align-items-center justify-content-between border-1 surface-border border-round mb-3 p-3">
          <div class="flex align-items-center">
            <i class="pi pi-cog text-gray-400 mr-2" style="font-size: 28px;"></i>
            <div class="flex flex-column">
              <span class="text-gray-700 font-bold">Task 1</span>
              <span class="text-gray-400">Due 20/12/2021</span>
            </div>
          </div>
          <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
            <div>
              <p-avatarGroup class="flex align-items-center"
                [pTooltip]="'Natthaphon D. Best' + '\n'  + 'Phuriq' + '\n' + 'and 1 others'">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
              </p-avatarGroup>
            </div>
          </div>
        </li>
      </ul>
    </ng-template>
  </p-scroller>
</div>