<div class="border-1 surface-border border-round p-3 h-full">
  <div class="font-bold mt-2">Recent Activities</div>
  <p-divider></p-divider>
  <div class="flex justify-content-between ml-2 w-full">
    <div class="flex flex-column">
      <div class="grid col">
        <div class="mt-3">
          <span class="col">
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              shape="circle"
            />
          </span>
        </div>
        <div class="flex justify-content-between">
          <div class="flex flex-row">
            <div class="flex flex-column ml-2 mt-2">
              <span class="font-bold">Phuri siripool</span>
              <span class="text-sm text-400">Yesterday</span>
            </div>
            <div class="flex flex-row mt-2 ml-2">
              <div class="text-400">added</div>
              <div class="ml-2 font-bold">Test.JPG</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1 mr-2">
            <span class="font-bold ml-2">TASK 1</span>
            <span class="inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 ml-2">
                <i class="pi pi-cog "></i>
            </span>
        </div>
  </div>
</div>

