<div class="border-1 surface-border border-round p-3 h-full">
  <div class="font-bold mt-2">      {{ 'DASHBOARD_PROJECT_ACTIVITY' | translate }}
  </div>
  <p-divider></p-divider>

  @for (item of [1,2,3]; track $index) {
  <div class="border-1 surface-border border-round cursor-pointer p-3 mb-2">
    <div class="flex justify-content-between w-full">
      <div class="flex flex-column">
        <div class="flex">
          <span class="flex align-items-center mr-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          </span>
          <div class="flex justify-content-between">
            <div class="flex flex-row">
              <div class="flex flex-column ">
                <div class="font-bold">Phuri siripool
                  <span class="text-400"> added Test{{$index + 1}}.JPG to Project Resource</span>
                </div>
                <span class="text-sm text-400">Yesterday</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>