<div class="layout-topbar">
  <button #menubutton class="p-link layout-topbar-button" (click)="phantomPageService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div class="layout-topbar-logo" routerLink="">
    <img src="/images/project-logo.png" alt="logo">
  </div>

  <button class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="phantomPageService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': phantomPageService.state.profileSidebarVisible}">
    <button class="p-link layout-topbar-button-lang" (click)="op.toggle($event)">
      <i class="pi pi-language"></i>
      <div>{{ 'LANGUAGE' | translate }}</div>
    </button>
    <p-overlayPanel #op class="p-0">
      <div class="flex flex-column gap-2 w-17rem">
        <button pButton class="p-button-text p-button-secondary" (click)="changeLanguage('en')">
          <span>English</span>
        </button>
        <button pButton class="p-button-text p-button-secondary" (click)="changeLanguage('th')">
          <span>ภาษาไทย</span>
        </button>
      </div>
    </p-overlayPanel>

    <button class="p-link layout-topbar-button">
      <i class="pi pi-bell"></i>
      <span>Notification</span>
    </button>

    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-user"></i>
      <span>User</span>
    </button>
  </div>
</div>