<div class="layout-topbar">
  <button #menubutton class="p-link layout-topbar-button" (click)="phantomPageService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div class="layout-topbar-logo" routerLink="">
    <img src="/images/project-logo.png" alt="logo">
  </div>

  <button class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="phantomPageService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': phantomPageService.state.profileSidebarVisible}">
    <button class="p-link layout-topbar-button">
      <i class="pi pi-bell"></i>
      <span>Notification</span>
    </button>

    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-user"></i>
      <span>User</span>
    </button>
  </div>
</div>