<div class="surface-overlay px-4 py-6 md:px-6 lg:px-8 overflow-hidden">
    <div class="grid grid-nogutter surface-overlay text-800">
      <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
          <span class="block text-6xl font-bold mb-1">Make project simple</span>
          <span class="block text-6xl font-bold mb-1">and Efficient with</span>
          <div class="text-6xl text-primary font-bold mb-3">Prime Project Manager</div>
          <p class="mt-0 mb-4 text-700 line-height-3">
            Prime Project Manager is a project management software that helps you plan, track, and manage your projects
            effectively. It is a simple and easy-to-use tool that helps you manage your projects efficiently.
          </p>
          <button pButton pRipple icon="pi pi-arrow-right" iconPos="right" label="Get Started" type="button"
            class="mr-3 p-button-raised"></button>
        </section>
      </div>
      <div class="col-12 lg:col-6 overflow-hidden">
        <img src="/images/ppm.png" class="lg:ml-auto block" height="500">
      </div>
    </div>
  </div>