<div class="flex gap-3 overflow-x-scroll">
  <div *ngFor="let board of listBoard" class="h-full">
    <p-panel pDroppable (onDrop)="onDropItem(board)">
      <ng-template pTemplate="header">
        <div class="w-full flex align-items-center justify-content-between ">
            <div class="font-bold">
              {{board.name}}
            </div>
            <button 
              pButton
              icon="pi pi-cog" 
              class="p-button-rounded p-button-text p-button-sm p-button-secondary border-none" 
              (click)="menu.toggle($event); selectedBoard = board">
            </button>
          </div>
          <p-menu #menu [model]="items" [popup]="true"/>
    </ng-template>
      <div *ngFor="let item of board.items" 
        pDraggable 
        (onDragEnd)="onDragEnd()"
        (onDragStart)="onDragStart(board, item)"
        (click)="viewDetail(board, item)"
        class="flex p-3 surface-overlay border-1 surface-border border-round mb-2 cursor-pointer align-content-center justify-content-between">
        <div>
          <div class="p-card-header font-bold">{{ item.title }}</div>
          <div class="p-card-body text-500 text-sm">{{ item.description }}</div>
          <div class="p-card-body text-500 text-xs">{{ item.due_date }}</div>
        </div>
        <div>
          <p-avatarGroup class="flex align-items-center" [pTooltip]="'Natthaphon D. Best' + '\n' + 'Phuriq' + '\n' + 'and 1 others'">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          </p-avatarGroup>
        </div>
      </div>

      <ng-template pTemplate="footer" style="padding: 0">
        <button pButton pRipple icon="pi pi-plus" label="Create Issue"
          (click)="onOpenCreate(board)"
          class="p-button-secondary p-button-outlined p-button-sm w-full">
          <project-board-create 
            (onCreateTaskEvent)="onCreateTask($event)">
          </project-board-create>
        </button>
      </ng-template>
    </p-panel>
  </div>
</div>