<phantom-dialog
  [(visible)]="isAddPosition"
  [icon]="'pi pi-user-edit'"
  [label]="'Change Position'"
  [buttonStyleClass]="'p-button-sm w-full'"
  [showHeader]="false"
  [showClose]="false">

  <section class="flex flex-column w-full">
    <div class="flex w-full justify-content-between mb-4">
      <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100"><i
          class="pi pi-shield text-blue-700 text-4xl"></i></span>
      <button pButton pRipple type="button" icon="pi pi-times"
        class="p-button-rounded p-button-secondary p-button-text align-self-start"
        (click)="isAddPosition = false"></button>
    </div>
    <p class="font-semibold text-xl mt-0 mb-2 text-900">Change Position</p>
    <p class="font-normal text-base mt-0 mb-3 text-600">
      You can adjust the position of team members in this project to ensure they utilize resources according to their
      roles. </p>
    <p-dropdown [options]="positions" placeholder="Select Position" optionLabel="name" appendTo="body"
      styleClass="w-full border-round-lg">
    </p-dropdown>
  </section>
  
  <div class="flex gap-2 pt-3">
    <button pButton pRipple 
      (click)="isAddPosition = false" 
      label="Cancel" 
      class="p-button-text p-button-danger flex-grow-1">
    </button>
    <button pButton pRipple 
      (click)="isAddPosition = false" 
      label="Change" 
      class="flex-grow-1">
    </button>
  </div>
</phantom-dialog>