<div class="p-4">
  <phantom-header [title]="'MENU_PROJECT_MEMBER'">
    <project-board-add>
    </project-board-add>
  </phantom-header>

  <phantom-content>
    <div class="flex gap-3">
      <div *ngFor="let board of listBoard" class="h-full">
        <p-panel [header]="board.name" pDroppable (onDrop)="onDropItem(board)">
          <div *ngFor="let item of board.items" pDraggable (onDragEnd)="onDragEnd()"
            (onDragStart)="onDragStart(board, item)"
            class="p-3 surface-overlay border-1 surface-border border-round mb-2 cursor-pointer">
            <div class="p-card-header">{{ item.title }}</div>
            <div class="p-card-body">{{ item.description }}</div>
          </div>
        </p-panel>
      </div>
    </div>
  </phantom-content>
</div>