:host ::ng-deep .p-panel {
    width: 300px;

    .p-panel-header {
        background-color: var(--surface-overlay);
    }

    .p-panel-content {
        min-height: 30rem;
        padding: 0.5rem;
        background-color: var(--surface-ground);
    }
}