
<p-sidebar [(visible)]="isShowMember" position="right" modal="true">
    <ng-template pTemplate="header">
      <span class="font-bold">
        Member Detail
      </span>
    </ng-template>
  
    <div class="flex flex-column p-3 h-full">
      <div class="flex-auto overflow-y-auto">
        <div class="text-center mb-4">
          <p-avatar [style]="{ height: '10rem', width: '10rem' }"
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          <div class="text-900 mt-3 mb-2 text-xl font-medium"> {{ member?.name }} </div>
          <span class="text-700"> {{ member?.position }} </span>
        </div>
  
        <ul class="list-none p-0 m-0">
          <li class="surface-100 text-sm text-700 font-medium p-2 border-round mb-1">NAME</li>
          <li class="text-900 p-2">Isabel Rio</li>
          <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">MEMBER SINCE</li>
          <li class="text-900 p-2">23/10/2021</li>
          <li class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1">RECENT ORDERS</li>
          <li>
            <ul class="list-none p-0 m-0">
              <li class="py-2 border-bottom-1 surface-border">
                <a pRipple
                  class="cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2">
                  <div>
                    <span class="block text-900 mb-1">Sports Shoes</span>
                    <p class="m-0 text-600 font-medium text-sm">SRT30321</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i>
                </a>
              </li>
              <li class="py-2 border-bottom-1 surface-border">
                <a pRipple
                  class="cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2">
                  <div>
                    <span class="block text-900 mb-1">DSRL Camera</span>
                    <p class="m-0 text-600 font-medium text-sm">OBS90211</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i>
                </a>
              </li>
              <li class="py-2">
                <a pRipple
                  class="cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2">
                  <div>
                    <span class="block text-900 mb-1">Headphone</span>
                    <p class="m-0 text-600 font-medium text-sm">APE302123</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </p-sidebar>