<div class="p-4">
  <div class="custom-height flex align-items-center">
    <div class="text-lg ">
      Dashboard
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid">
    <div class="col-12 xl:col-4">
      <project-info>
      </project-info>
    </div>
    <div class="col-12 xl:col-4">
      <div class="border-1 surface-border border-round p-3 h-full">
      </div>
    </div>
    <div class="col-12 xl:col-4">
      <div class="border-1 surface-border border-round p-3 h-full">
        asd
      </div>
    </div>
    <div class="col-12 xl:col-4">
      <div class="border-1 surface-border border-round p-3 h-full">
        asd
      </div>
    </div>
  </div>
</div>