<div class="p-4">
  <div class="custom-height flex align-items-center">
    <div class="text-lg ">
      Dashboard
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid">
    <div class="col-12 xl:col-6">
      <project-info>
      </project-info>
    </div>
    <div class="col-12 xl:col-3">
      <project-progress>
      </project-progress>
    </div>
    <div class="col-12 xl:col-3">
      <project-team-progress>
      </project-team-progress>
    </div>
    <div class="col-12 xl:col-6">
      <project-task>
      </project-task>
    </div>
    <div class="col-12 xl:col-6">
      <project-recent-activity>
      </project-recent-activity>
    </div>
  </div>
</div>