<div class="p-4 overflow-hidden">
  <div class="custom-height flex align-items-center">
    <div class="text-lg ">
      Dashboard
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid">
    <div class="col-12 xl:col-6">
      <project-info>
      </project-info>
    </div>
    <div class="col-12 xl:col-6">
      <project-progress>
      </project-progress>
    </div>
    <div class="col-12 xl:col-12">
      <div class="flex-auto">
        <project-task>
        </project-task>
      </div>
    </div>
    <div class="col-12 xl:col-12">
      <project-recent-activity>
      </project-recent-activity>
    </div>
  </div>
</div>