<div class="p-3 surface-overlay border-1 surface-border border-round">
  <div class="surface-overlay">
    <div class="flex justify-content-between pb-2 surface-borderd">
      <div class="p-3">
        <span class="text-lg font-medium text-900">{{
          "MENU_SPRINT" | translate
        }}</span>
      </div>
      <div class="flex align-items-center mt-2 md:mt-0">
        <span class="p-input-icon-left mr-2">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="{{ 'SEARCH_TEXT' | translate }}"
            class="p-inputtext-sm w-20rem"
          />
        </span>
        <span>
          <thy-button
            thyType="primary"
            thySize="default"
            (click)="isOnCreateSprint = true"
          >
            Create Sprin
          </thy-button>
        </span>
      </div>
    </div>
    <p-divider></p-divider>
  </div>
  <p-treeTable
    [value]="data"
    [(selection)]="sprintItem"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="600px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="">Sprint name</th>
        <th class="">Sprint owner</th>
        <th class="text-center">Sprint start date</th>
        <th style="">Progress</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>{{ rowData.name }}</td>
        <td>{{ rowData.name }}</td>
        <td>{{ rowData.name }}</td>
        <td>{{ rowData.name }}</td>
        <td>
          <p-progressBar [value]="rowData.progress" />
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>

<p-dialog
  header="Create Sprint"
  [(visible)]="isOnCreateSprint"
  [modal]="true"
  [style]="{ 'min-width': '50vw' }"
  styleClass="p-3"
>
  <span class="p-text-secondary block mb-5"> Create a new sprint </span>
  <div [formGroup]="formGroup">
    <div class="grid">
      <div class="col-3">
        <label for="sprint_name" class="font-semibold w-6rem"
          >Sprint Name</label
        >
      </div>
      <div class="col-9">
        <input
          type="text"
          pInputText
          class="p-inputtext-sm w-full"
          formControlName="sprint_name"
        />
      </div>
    </div>
    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">Start Date</label>
      </div>
      <div class="col-9">
        <p-calendar
          appendTo="body"
          formControlName="start_date"
          styleClass="w-full"
        >
        </p-calendar>
      </div>
    </div>

    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">End Date</label>
      </div>
      <div class="col-9">
        <p-calendar
          appendTo="body"
          formControlName="end_date"
          styleClass="w-full"
        >
        </p-calendar>
      </div>
    </div>
  </div>
  <p-footer>
    <thy-button
      class="mr-2"
      thyType="outline-default"
      thySize="default"
      (click)="isOnCreateSprint = false"
    >
      cancel
    </thy-button>
    <thy-button thyType="primary" thySize="default" (click)="onCreateSprint()">
      <i class="pi pi-save mr-2"></i>
      Save
    </thy-button>
  </p-footer>
</p-dialog>
