<div [formGroup]="formGroup">
  <div class="mb-2">
    <p-floatLabel>
      <input pInputText 
        class="p-inputtext-sm w-full" 
        formControlName="topic"/>
      <label for="username">Topic</label>
    </p-floatLabel>
  </div>
  <p-editor [style]="{ height: '320px' }"
    formControlName="content">
    <ng-template pTemplate="header">
      <span class="ql-formats">
        <select class="ql-header"></select>
        <select class="ql-size"></select>
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <select class="ql-color"></select>
        <select class="ql-background mr-4"></select>

        <button class="ql-align" value=""></button>
        <button class="ql-align" value="center"></button>
        <button class="ql-align" value="right"></button>
        <button class="ql-indent" value="+1"></button>
        <button class="ql-indent mr-4" value="-1"></button>

        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list mr-4" value="check"></button>

        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <button class="ql-clean"></button>
      </span>
    </ng-template>
  </p-editor>
</div>

<div class="pt-3 flex">
  <button pButton pRipple  
    label="Cancel" 
    class="p-button-text p-button-danger p-button-sm flex-grow-1"
    (click)="onCancel()">
  </button>
  <button pButton pRipple 
    label="Add Resource" 
    class="p-button-sm flex-grow-1" 
    (click)="onValidateForm()">
  </button>
</div>