.custom-height {
  height: 38.38px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  padding: 1.25rem 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: var(--primary-color) !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: var(--text-color);
}

:host ::ng-deep .p-selectbutton .p-button {
  height: 30px;
}

:host ::ng-deep .p-selectbutton .p-button:first-child {
  background-color: none;
}