<phantom-dialog [(visible)]="visible" [showButton]="false" [appendTo]="'body'"
  [dialogstyle]="{ width: '70vw', 'min-height': '50vh' }" [label]="'TITLE_DETAIL_SPRINT'">
  <div class="grid m-0 p-0">
    <div class="col-7">
      <div class="mb-2">
        <div class="flex flex-column">
          <div class="text-2xl font-bold">
            {{ sprintData.sprint_name }}
          </div>
          <div class="text-sm mt-2">
            {{ sprintData.sprint_note }}
          </div>
        </div>
        <div class="flex align-content-center">
          <div>
            <div class="flex">
              <div style="width: 200px">Sprint owner</div>
              <span class="ml-3">{{ sprintData.sprint_owner }}</span>
            </div>
            <div class="flex">
              <div style="width: 200px">Duration</div>
              <span class="ml-3">{{ sprintData.duration }}</span>
            </div>
            <div class="flex">
              <div style="width: 200px">Start date</div>
              <span class="ml-3">{{ sprintData.start_date }}</span>
            </div>
            <div class="flex">
              <div style="width: 200px">Due date</div>
              <span class="ml-3">{{ sprintData.end_date }}</span>
            </div>
          </div>
        </div>
      </div>
      <p-tabView>
        <p-tabPanel header="Task">
          <phantom-empty>
          </phantom-empty>
        </p-tabPanel>
        <p-tabPanel header="Comment">
          @for (item of [1,2,3]; track $index) {
          <div class="border-1 surface-border border-round p-3 mb-2">
            Lorem ipsum dolor sit amet.
          </div>
          }

          <textarea pInputTextarea rows="5" class="w-full"></textarea>
          <div class="flex justify-content-end">
            <button pButton pRipple type="button" label="Comment" class="p-button-sm p-button-success">
            </button>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <p-divider layout="vertical" styleClass="m-0 p-0"></p-divider>

    <div class="col-5">
      <div class="p-2">Project Status</div>
      <div class="p-3 border-1 surface-border border-round">
        <div class="p-2 mb-2 flex justify-content-between">
          Progress
          <span>{{ sprintData.process }}%</span>
        </div>
        <p-progressBar [value]="[sprintData.process]">
          <ng-template pTemplate="content" let-value> </ng-template>
        </p-progressBar>
      </div>
      <p-divider></p-divider>
      <div class="p-3">Activity</div>
      @for (item of [1,2,3]; track $index) {
      <div class="border-1 surface-border border-round cursor-pointer p-3 mb-2">
        <div class="flex justify-content-between w-full">
          <div class="flex flex-column">
            <div class="flex">
              <span class="flex align-items-center mr-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
              </span>
              <div class="flex justify-content-between">
                <div class="flex flex-row">
                  <div class="flex flex-column">
                    <div class="font-bold">
                      Phuri siripool
                      <span class="text-400">
                        added Test{{ $index + 1 }}.JPG to Project Resource</span>
                    </div>
                    <span class="text-sm text-400">Yesterday</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      <p-divider></p-divider>
      <div>
        <button pButton pRipple type="button" label="Remove Sprint"
          class="p-button-outlined p-button-sm p-button-danger w-full"
          (click)="onDelete()">
        </button>
      </div>
    </div>
  </div>
</phantom-dialog>