<phantom-dialog
  [(visible)]="visible"
  [showButton]="false"
  [appendTo]="'body'"
  [dialogstyle]="{ width: '50vw', 'min-height': '50vh' }"
  [label]="'TITLE_DETAIL_SPRINT'">
  <div class="grid m-0 p-0">
    <div class="col-8">
      <div class="h-30rem p-3 mb-2">
        <div class="flex flex-column">
          <div class="text-2xl font-bold">
            {{ sprintData.sprint_name}}
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="h-30rem p-3">
        asd
      </div>
    </div>
    <p-divider layout="vertical" styleClass="m-0 p-0"></p-divider>

    <div class="col-4">
      <div class="h-15rem  p-3">
        asd
      </div>
      <p-divider></p-divider>
      <div class="h-15rem  p-3">
        asd
      </div>
    </div>
  </div>
</phantom-dialog>