<phantom-dialog 
  [(visible)]="visible" 
  [icon]="'pi pi-file'" 
  [label]="'BUTTON_ADD_RESOURCE_LABEL'" 
  [dialogstyle]="{ width: '40vw','max-height': '80vh' }"
  [showHeader]="true"
  [showClose]="true"
  (visibleChange)="onCloseDialog($event)">

  <ng-container [ngSwitch]="currentStep">
    <section *ngSwitchCase="1">
      <project-resource-selection
        (onCancelCreateEvent)="onCloseDialog($event)"
        (onSelectTypeEvent)="onSelectType($event)">
      </project-resource-selection>
    </section>

    <section *ngSwitchCase="2">
      <ng-container [ngSwitch]="typeValue">
        <create-resource-content *ngSwitchCase="1" 
          (onBackPreviousStepEvent)="prevStep($event)" 
          (onCreateResourceEvent)="onCreateResource($event)">
        </create-resource-content>

        <create-resource-link *ngSwitchCase="2"
          (onBackPreviousStepEvent)="prevStep($event)">
        </create-resource-link>

        <create-resource-attachments *ngSwitchCase="3"
          (onBackPreviousStepEvent)="prevStep($event)">
        </create-resource-attachments>
      </ng-container>
    </section>
  </ng-container>
</phantom-dialog>