<div [formGroup]="formGroup" class="-mt-4">
  <div class="mb-2">
    <label for="topic">Topic</label>
    <input pInputText 
      id="topic" 
      placeholder="Enter topic" 
      class="p-inputtext-sm w-full" 
      formControlName="topic" />
  </div>

  <div class="p-fluid mb-2">
    <label for="tag">Tag</label>
    <p-chips 
      [max]="3" 
      formControlName="tag" />
  </div>
</div>

<p-fileUpload 
  [multiple]="true" 
  [files]="uploadedFiles"
  accept="
    image/*, video/*, audio/*,
    text/plain, 
    application/pdf, 
    application/json, 
    application/msword, 
    application/vnd.openxmlformats-officedocument.wordprocessingml.document,
    application/vnd.ms-excel, 
    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
    application/vnd.ms-powerpoint, 
    application/vnd.openxmlformats-officedocument.presentationml.presentation"
  [maxFileSize]="fileSizeLimit" 
  (onSelect)="onSelectedFiles($event)">
  <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback">
    <div class="flex flex-wrap justify-content-end align-items-center">
      <div class="flex gap-2">
        <p-button 
          [text]="true" 
          [rounded]="true" 
          [size]="'small'"
          [icon]="'pi pi-images'" 
          (onClick)="choose(chooseCallback)"/>
        <p-button 
          [text]="true" 
          [rounded]="true" 
          [size]="'small'"
          [severity]="'danger'"
          [icon]="'pi pi-times'" 
          [disabled]="!files || files.length === 0" 
          (onClick)="clearCallback()" />
      </div>
    </div>
  </ng-template>
  <ng-template 
    pTemplate="content" 
    styleClass="p-0"
    let-files 
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback" 
    let-removeUploadedFileCallback="removeUploadedFileCallback">
    <div *ngIf="files?.length > 0">
      <attachments-item *ngFor="let file of files; let index=index"
        [file]="file" 
        [index]="index"
        (removeFileCallbackEvent)="onRemoveTemplatingFile($event, file, removeFileCallback, index)">
      </attachments-item>
    </div>
  </ng-template>
  <ng-template pTemplate="file"> </ng-template>
  <ng-template pTemplate="empty">
    <div class="flex align-items-center justify-content-center flex-column py-4">
      <img src="images/assets/upload.png" alt="upload" width="300">
      <p class="mt-2 text-2xl text-gray-500">Drag and drop your files here</p>
      <p class="text-gray-400"> File supported : image, video, audio, pdf, doc, xls, ppt, txt, json</p>
      <p class="text-gray-400">Maximum size: 20MB</p>
    </div>
  </ng-template>
</p-fileUpload>

<div class="pt-3 flex">
  <button pButton pRipple label="Back" class="p-button-text p-button-danger p-button-sm flex-grow-1"
    (click)="onBackPreviousStep()">
  </button>
  <button pButton pRipple label="Add Resource" class="p-button-sm flex-grow-1" (click)="onValidateForm()">
  </button>
</div>